<table>
  <thead>
    <tr>
      <th>Name</th>
      <th *ngFor="let language of languages">{{language}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let translation of translations">
      <td>{{translation.name}}</td>
      <td *ngFor="let language of languages">
        <app-translation-edit-view 
          [value]="getValue(translation, language)"
          [name]="translation.name"
          [language]="language"
          (valueChanged)="change($event)">
        </app-translation-edit-view>
      </td>
    </tr>
  </tbody>
</table>